<footer class="footer">
    <div class="footer__container">
        <a href="/" class="logo footer__logo">
            <img src="images/logo.png" alt=""/>
        </a>

        <nav class="footer__navigation navigation">
            <ul class="navigation__list">
                <li class="navigation__item">
                    <a href="septik.html" class="navigation__link">
                        Септики
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="water.html" class="navigation__link">
                        Водоснабжение
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="otoplenie.html" class="navigation__link">
                        Отопление
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="drenazh.html" class="navigation__link">
                        Дренаж
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="contacts.html" class="navigation__link">
                        Контакты
                    </a>
                </li>
            </ul>
        </nav>

        <div class="footer__phones">
            <a href="tel:+74996496450" class="footer__phones-link">
                +7 (499) 649-64-50
            </a>
            <a href="88005002492" class="footer__phones-link">
                8 800 500-24-92
            </a>
        </div>

        <div class="footer__hint-text">
            Работаем во&nbsp;все выходные<br />
            и&nbsp;праздничные дни
        </div>
    </div>
</footer>

<!--build:js js/vendor.min.js -->
<script src="js/jquery.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->
<!--build:js js/main.min.js -->
<script src="js/main.js"></script>
<!-- endbuild -->
</body>
</html>