<div class="card-single">
  <div class="card-single__top-block">
    <div class="card-single__img-block">
      <img src="images/septik/1/catalog/slide_1.png" alt="" class="card-single__img">
    </div>
    <div class="card-single__info-block">
      <div class="card-single__title-block">
        <h1 class="card-single__title heading heading_type_h1">
          Топас 5 Long ПР
        </h1>
        <span class="card-single__razdel">
          Станция Биологической очистки
        </span>
      </div>
      <div class="card-single__description-block">
        <div class="card-single__description">
          <div class="card-single__description-buttons">
            <div class="card-single__description-button card-single__description-button_hit">хит продаж</div>
            <div class="card-single__description-button card-single__description-button_blue">в наличии</div>
          </div>
          <div class="card__compare compare">
            <div class="compare__block compare__block_add active">
              <img class="compare__img" src="images/papers.png" alt="">
              <span class="compare__text">Добавить к сравнению</span>
            </div>
            <div class="compare__block compare__block_cancel">
              <img class="compare__img" src="images/cross.png" alt="">
              <span class="compare__text">Удалить из сравнения</span>
            </div>
          </div>
          <div class="card__card-table">
            <div class="card__card-table-row card__card-table-row_head">
              <div class="card__card-table-item">Объем</div>
              <div class="card__card-table-item">Кол-во человек</div>
              <div class="card__card-table-item">Бренд</div>
            </div>
            <div class="card__card-table-row">
              <div class="card__card-table-item">450 л</div>
              <div class="card__card-table-item">5-6</div>
              <div class="card__card-table-item">Тритон</div>
            </div>
          </div>
        </div>
        <div class="card-single__price-block">
          <div class="card__price">
            <span class="card__price-canceled">
              23 000 &#8381
            </span>
            <span class="card__price-true card__price-true_big">
              18 000 &#8381
            </span>
            <span class="card__price-description">Монтаж + доставка = 9990 &#8381</span>
            <a href="" class="card__price-btn section__button button button_theme_default button_size_s">
              <span class="button__text">
                Заказать
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-single__paragraph">
    <p class="card-single__paragraph-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda at aut debitis earum facilis illum, libero non obcaecati perferendis rerum sint vitae. Deserunt ducimus eveniet illo iste minus quas vel? Adipisci alias amet dolorem reprehenderit suscipit. Ab accusantium amet deserunt distinctio doloribus eum laboriosam magni omnis rem, repudiandae, ullam.
    </p>
  </div>
  <div class="card-single__bottom-block">
    <ul class="card-single__options-block">
      <li data-toggle="option1" class="card-single__option active">Описание</li>
      <li data-toggle="option2" class="card-single__option">Характеристики</li>
      <li data-toggle="option3" class="card-single__option">Схема и данные по монтажу</li>
      <li data-toggle="option4" class="card-single__option">Отзывы</li>
      <li data-toggle="option5" class="card-single__option">Статьи</li>
    </ul>
    <div class="card-single__content-block">
      <div data-id="option1" class="card-single__content active card-single__about">
        <p class="card-single__about-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore facilis necessitatibus nemo numquam perspiciatis sunt. Commodi culpa deleniti in itaque.
          <br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ducimus error est itaque maiores placeat, qui quisquam tempore vel voluptate.
        </p>
      </div>
      <div data-id="option2" class="card-single__content card-single__character character">
        <div class="character__table">
          <div class="character__title">Основные характеристики</div>
          <div class="character__table-name-block">
            <div class="character__table-name">Производитель</div>
            <div class="character__table-name">Название</div>
            <div class="character__table-name">Тип септика</div>
            <div class="character__table-name">Тип проживающих</div>
          </div>
          <div class="character__table-value-block">
            <div class="character__table-value">ТРИОН ПЛАСТИК</div>
            <div class="character__table-value">Трион микро</div>
            <div class="character__table-value">Накопитель</div>
            <div class="character__table-value">5-6 человек</div>
          </div>
          <div class="character__title">ТО и обслуживание</div>
          <div class="character__table-name-block">
            <div class="character__table-name">Плановое ТО</div>
            <div class="character__table-name">Средняя стоимость обслуживания в год</div>
          </div>
          <div class="character__table-value-block">
            <div class="character__table-value">Есть</div>
            <div class="character__table-value">5 000 &#8381</div>
          </div>
        </div>
      </div>
      <div data-id="option3" class="card-single__content card-single__chart chart">
        <div class="chart__img-block">
          <img src="images/shema.jpg" alt="" class="chart__img">
          <a href="" class="chart__download">Скачать монтажную схему</a>
          <a href="" class="chart__download">Скачать хехнический паспорт</a>
        </div>
        <table class="chart__table-block">
          <tr class="chart__table-row">
            <td class="chart__table-name">Глубина котлована</td>
            <td class="chart__table-value">3000 мм</td>
          </tr>
          <tr class="chart__table-row">
            <td class="chart__table-name">Глубина врезки подводящей трубы от поверхности грунта</td>
            <td class="chart__table-value">1050-1450 мм</td>
          </tr>
          <tr class="chart__table-row">
            <td class="chart__table-name">Выход очищенной воды от поверхности грунта</td>
            <td class="chart__table-value">1050 мм</td>
          </tr>
          <tr class="chart__table-row">
            <td class="chart__table-name">Уровень грунтовых вод, тип грунта</td>
            <td class="chart__table-value">УГВ низкий, хорошее водопоглощение</td>
          </tr>
          <tr class="chart__table-row">
            <td class="chart__table-name">Габаритные размеры, вес</td>
            <td class="chart__table-value">Д 1100 Ш 1200 В 3100; Вес 300 кг</td>
          </tr>
        </table>
      </div>
      <div data-id="option4" class="card-single__content card-single__card-feedback">
        <div class="card-feedback__wrp">
          <div class="card-feedback__box">
            <div class="card-feedback__img-block">
              <img src="images/member.png" alt="" class="card-feedback__img">
            </div>
            <div class="card-feedback__info-block">
              <span class="card-feedback__name">Александр</span>
              <span class="card-feedback__date">12 апреля 2017</span>
              <div class="card-feedback__text-block">
                <p class="card-feedback__text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur consequuntur debitis dolorem dolores ducimus enim et fuga id, iste itaque iure iusto minima minus molestias mollitia natus nemo neque nisi nulla omnis quaerat quam quos rerum similique soluta sunt totam unde vero vitae. Accusantium dolorem modi nam pariatur soluta?
                </p>
              </div>
            </div>
          </div>
          <div class="card-feedback__box">
            <div class="card-feedback__img-block">
              <img src="images/member.png" alt="" class="card-feedback__img">
            </div>
            <div class="card-feedback__info-block">
              <span class="card-feedback__name">Александр</span>
              <span class="card-feedback__date">12 апреля 2017</span>
              <div class="card-feedback__text-block">
                <p class="card-feedback__text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias et harum ipsam itaque laudantium maxime nulla odit velit. Amet ex excepturi exercitationem, fuga impedit iusto libero nam, nisi repellat sed tenetur unde. Accusamus, blanditiis consequuntur, debitis dolore, dolorem earum eveniet illum ipsam ipsum minima perspiciatis quasi quia tempore tenetur velit!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-feedback__btn">
          <a href="" class="button button_theme_default button_size_m">
              <span class="button__text">
                Написать отзыв
              </span>
          </a>
        </div>
      </div>
      <div data-id="option5" class="card-single__content card-single__article article">
        <div class="article__wrp">
          <div class="article__box">
            <div class="article__img-block">
              <img src="images/member.png" alt="" class="article__img">
            </div>
            <div class="card-feedback__info-block">
              <span class="article__name">Принцип работы септика Топас (Топаз), как работает?</span>
              <div class="article__text-block">
                <p class="article__text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur consequuntur debitis dolorem dolores ducimus enim et fuga id, iste itaque iure iusto minima minus molestias mollitia natus nemo neque nisi nulla omnis quaerat quam quos rerum similique soluta sunt totam unde vero vitae. Accusantium dolorem modi nam pariatur soluta?
                </p>
              </div>
            </div>
          </div>
          <div class="article__box">
            <div class="article__img-block">
              <img src="images/member.png" alt="" class="article__img">
            </div>
            <div class="card-feedback__info-block">
              <span class="article__name">Принцип работы септика Топас (Топаз), как работает?</span>
              <div class="article__text-block">
                <p class="article__text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur consequuntur debitis dolorem dolores ducimus enim et fuga id, iste itaque iure iusto minima minus molestias mollitia natus nemo neque nisi nulla omnis quaerat quam quos rerum similique soluta sunt totam unde vero vitae. Accusantium dolorem modi nam pariatur soluta?
                </p>
              </div>
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>