<div class="single-card">


  <div class="single-card__top-block">

    <div class="single-card__img-block">
      <img src="images/septik/1/catalog/slide_1.png" alt="" class="single-card__img">
    </div>

    <div class="single-card__info-block">

      <div class="single-card__title-block">
        <h1 class="single-card__title heading heading_type_h1">
          Топас 5 Long ПР
        </h1>
        <span class="single-card__razdel">
          Станция Биологической очистки
        </span>
      </div>

      <div class="single-card__description-block">

        <div class="single-card__description">
          <div class="single-card__description-buttons">
            <div class="single-card__description-buttons-hit">хит продаж</div>
            <div class="single-card__description-buttons-blue">в наличии</div>
          </div>

          <div class="card__compare compare">
            <div class="compare__block compare__block_add active">
              <img class="compare__img" src="images/papers.png" alt="">
              <span class="compare__text">Добавить к сравнению</span>
            </div>
            <div class="compare__block compare__block_cancel">
              <img class="compare__img" src="images/cross.png" alt="">
              <span class="compare__text">Удалить из сравнения</span>
            </div>
          </div>

          <div class="card__card-table">
            <div class="card__card-table-row card__card-table-row_head">
              <div class="card__card-table-item">Объем</div>
              <div class="card__card-table-item">Кол-во человек</div>
              <div class="card__card-table-item">Бренд</div>
            </div>
            <div class="card__card-table-row">
              <div class="card__card-table-item">450 л</div>
              <div class="card__card-table-item">5-6</div>
              <div class="card__card-table-item">Тритон</div>
            </div>
          </div>

        </div>

        <div class="single-card__price-block">
          <div class="card__price">
            <span class="card__price-canceled">
              23 000 &#8381
            </span>
            <span class="card__price-true card__price-true_big">
              18 000 &#8381
            </span>
            <span class="card__price-description">Монтаж + доставка = 9990 &#8381</span>
            <a href="" class="card__price-btn section__button button button_theme_default button_size_s">
              <span class="button__text">
                Заказать
              </span>
            </a>
          </div>
        </div>



      </div>




    </div>
  </div>
  <div class="single-card__bottom-block">

  </div>











</div>