@@include('layout/_head.html', {
	"title": "«Строительные Экосистемы» - продажа и установка септиков, систем отопления, водоснабжения в Москве и области",
	"description": "Устанавливаем септики, системы отопления и водоснабжения, также проводим дренажные работы. Все подробности на сайте, заходите!",
	"keywords": "септики от производителя, установка систем отопления, установка водоснабжения, дренажные работы"
})
    <section class="onepage onepage_type_blog">
        @@include('layout/_header.html', {
            "navigationTheme" : "navigation_theme_dark"
        })

        <div class="onepage__blog blog">
			<div class="breadcrumb">
				<a href="/" class="breadcrumb__item breadcrumb__item_link">Главная
				</a><span class="breadcrumb__item">Статьи</span>
			</div>
			
			<div class="blog__content">
				<h1 class="blog__title heading heading_type_h1">
					Статьи
				</h1>
				
				<div class="blog__filter">
					<button data-toggle="all" class="blog__filter-btn js-filter-btn active button button_size_filter button_theme_filter">
						<span class="button__text">
							Все
						</span>
					</button>
					
					<button data-toggle="septic" class="blog__filter-btn js-filter-btn button button_size_filter button_theme_filter">
						<span class="button__text">
							Септики
						</span>
					</button>
					
					<button data-toggle="otop" class="blog__filter-btn js-filter-btn button button_size_filter button_theme_filter">
						<span class="button__text">
							Отопление
						</span>
					</button>
					
					<button data-toggle="vod" class="blog__filter-btn js-filter-btn button button_size_filter button_theme_filter">
						<span class="button__text">
							Водоснабжение
						</span>
					</button>
					
					<button data-toggle="dren" class="blog__filter-btn js-filter-btn button button_size_filter button_theme_filter">
						<span class="button__text">
							Дренаж
						</span>
					</button>
				</div>
				
				<div class="blog__list">
					<div class="blog__post js-filter-post" data-id="septic">
						<div class="blog__post-wrp">
							<a href="blog-single.html" class="blog__img-wrp">
								<span class="blog__img" style="background-image: url(images/blog.jpg)"></span>
							</a>
							
							<div class="blog__descr">
								<a href="blog-single.html" class="blog__heading heading heading_type_h4">
									Септик Евробион Юбас
								</a>
								
								<div class="blog__info">
									<button class="blog__tag button button_size_filter button_theme_filter">
									<span class="button__text">
										Септики
									</span>
									</button>
									
									<div class="blog__date c_grey">
										20 июня 2017
									</div>
								</div>
								
								<div class="blog__caption">
									Загородный дом или дача нуждается в&nbsp;оборудовании различных коммуникаций, одной из&nbsp;которых является канализация. И&nbsp;тут на&nbsp;первое место выходит проблема утилизации стоков. Для этих целей уже много десятилетий используются различные модели септиков.
								</div>
							</div>
						</div>
					</div>
					
					<div class="blog__post js-filter-post" data-id="otop">
						<div class="blog__post-wrp">
							<a href="blog-single.html" class="blog__img-wrp">
								<span class="blog__img" style="background-image: url(images/blog.jpg)"></span>
							</a>
							
							<div class="blog__descr">
								<a href="blog-single.html" class="blog__heading heading heading_type_h4">
									Септик Евробион Юбас
								</a>
								
								<div class="blog__info">
									<button class="blog__tag button button_size_filter button_theme_filter">
									<span class="button__text">
										Отопление
									</span>
									</button>
									
									<div class="blog__date c_grey">
										20 июня 2017
									</div>
								</div>
								
								<div class="blog__caption">
									Загородный дом или дача нуждается в&nbsp;оборудовании различных коммуникаций, одной из&nbsp;которых является канализация. И&nbsp;тут на&nbsp;первое место выходит проблема утилизации стоков. Для этих целей уже много десятилетий используются различные модели септиков.
								</div>
							</div>
						</div>
					</div>
					
					<div class="blog__post js-filter-post" data-id="vod">
						<div class="blog__post-wrp">
							<a href="blog-single.html" class="blog__img-wrp">
								<span class="blog__img" style="background-image: url(images/blog.jpg)"></span>
							</a>
							
							<div class="blog__descr">
								<a href="blog-single.html" class="blog__heading heading heading_type_h4">
									Септик Евробион Юбас
								</a>
								
								<div class="blog__info">
									<button class="blog__tag button button_size_filter button_theme_filter">
									<span class="button__text">
										Водоснабжение
									</span>
									</button>
									
									<div class="blog__date c_grey">
										20 июня 2017
									</div>
								</div>
								
								<div class="blog__caption">
									Загородный дом или дача нуждается в&nbsp;оборудовании различных коммуникаций, одной из&nbsp;которых является канализация. И&nbsp;тут на&nbsp;первое место выходит проблема утилизации стоков. Для этих целей уже много десятилетий используются различные модели септиков.
								</div>
							</div>
						</div>
					</div>
					
					<div class="blog__post js-filter-post" data-id="dren">
						<div class="blog__post-wrp">
							<a href="blog-single.html" class="blog__img-wrp">
								<span class="blog__img" style="background-image: url(images/blog.jpg)"></span>
							</a>
							
							<div class="blog__descr">
								<a href="blog-single.html" class="blog__heading heading heading_type_h4">
									Септик Евробион Юбас
								</a>
								
								<div class="blog__info">
									<button class="blog__tag button button_size_filter button_theme_filter">
									<span class="button__text">
										Дренаж
									</span>
									</button>
									
									<div class="blog__date c_grey">
										20 июня 2017
									</div>
								</div>
								
								<div class="blog__caption">
									Загородный дом или дача нуждается в&nbsp;оборудовании различных коммуникаций, одной из&nbsp;которых является канализация. И&nbsp;тут на&nbsp;первое место выходит проблема утилизации стоков. Для этих целей уже много десятилетий используются различные модели септиков.
								</div>
							</div>
						</div>
					</div>
					
					<div class="blog__post js-filter-post" data-id="septic">
						<div class="blog__post-wrp">
							<a href="blog-single.html" class="blog__img-wrp">
								<span class="blog__img" style="background-image: url(images/blog.jpg)"></span>
							</a>
							
							<div class="blog__descr">
								<a href="blog-single.html" class="blog__heading heading heading_type_h4">
									Септик Евробион Юбас
								</a>
								
								<div class="blog__info">
									<button class="blog__tag button button_size_filter button_theme_filter">
									<span class="button__text">
										Септики
									</span>
									</button>
									
									<div class="blog__date c_grey">
										20 июня 2017
									</div>
								</div>
								
								<div class="blog__caption">
									Загородный дом или дача нуждается в&nbsp;оборудовании различных коммуникаций, одной из&nbsp;которых является канализация. И&nbsp;тут на&nbsp;первое место выходит проблема утилизации стоков. Для этих целей уже много десятилетий используются различные модели септиков.
								</div>
							</div>
						</div>
					</div>
					
					<div class="blog__post js-filter-post" data-id="otop">
						<div class="blog__post-wrp">
							<a href="blog-single.html" class="blog__img-wrp">
								<span class="blog__img" style="background-image: url(images/blog.jpg)"></span>
							</a>
							
							<div class="blog__descr">
								<a href="blog-single.html" class="blog__heading heading heading_type_h4">
									Септик Евробион Юбас
								</a>
								
								<div class="blog__info">
									<button class="blog__tag button button_size_filter button_theme_filter">
									<span class="button__text">
										Отопление
									</span>
									</button>
									
									<div class="blog__date c_grey">
										20 июня 2017
									</div>
								</div>
								
								<div class="blog__caption">
									Загородный дом или дача нуждается в&nbsp;оборудовании различных коммуникаций, одной из&nbsp;которых является канализация. И&nbsp;тут на&nbsp;первое место выходит проблема утилизации стоков. Для этих целей уже много десятилетий используются различные модели септиков.
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="blog__footer">
					<button class="blog__more button button button_size_m button_theme_default">
						Показать еще статьи
					</button>
				</div>
			</div>
		</div>
    </section>

	<section class="section section_feedback feedback variant variant_blog">
		<div class="variant__wrp section__wrp">
			
			<h2 class="feedback__heading heading heading_type_h2">
				Остались вопросы?
			</h2>
			
			<p class="feedback__caption variant__caption caption caption_size_m c_green">
				Ответим 24/7
			</p>
			
			<div class="feedback-form feedback__feedback-form">
				<form action="" class="form-data form-data_type_flex form_feedback">
					<div class="feedback__box">
						<div class="form-data__parametr">
							<input type="text" class="form-data__input" placeholder="Имя" value="" name="name">
						</div>
						<div class="form-data__parametr">
							<input type="text" class="form-data__input" placeholder="Телефон" value="" name="phone">
						</div>
						<div class="form-data__parametr">
							<input type="text" class="form-data__input" placeholder="Электронная почта" value="" name="email">
						</div>
						<div class="form-data__parametr feedback__button-box">
							<button class="feedback__button form-data__button button button_theme_default button_size_l">
								Оставить заявку
							</button>
						</div>
					</div>
					
					<div class="feedback__box">
						<div class="form-data__parametr">
							<textarea class="form-data__textarea" placeholder="Комментарий" name="text"></textarea>
						</div>
					</div>
				</form>
			</div>
		
		
		</div>
	</section>
    

@@include('layout/_footer.html', {
	"theme" : ""
})
