@@include('layout/_head.html', {
	"title": "«Строительные Экосистемы» - продажа и установка септиков, систем отопления, водоснабжения в Москве и области",
	"description": "Устанавливаем септики, системы отопления и водоснабжения, также проводим дренажные работы. Все подробности на сайте, заходите!",
	"keywords": "септики от производителя, установка систем отопления, установка водоснабжения, дренажные работы"
})
    <section class="onepage onepage_type_blog">
        @@include('layout/_header.html', {
            "navigationTheme" : "navigation_theme_dark"
        })

        <div class="onepage__blog-post blog-post">
			<div class="breadcrumb">
				<a href="/" class="breadcrumb__item breadcrumb__item_link">Главная
				</a><a href="blog.html" class="breadcrumb__item breadcrumb__item_link">Статьи
				</a><span class="breadcrumb__item">Септик Евробион Юбас</span>
			</div>
			
			<div class="blog-post__wrp">
				<h1 class="blog-post__title heading heading_type_h1">
					Септик Евробион Юбас
				</h1>
				
				<div class="blog-post__info">
					<button class="blog-post__tag button button_size_filter button_theme_filter">
						<span class="button__text">
							Септики
						</span>
					</button>
					
					<div class="blog-post__date c_grey">
						20 июня 2017
					</div>
				</div>
				
				<div class="blog-post__content">
					<div class="blog-post__img-wrp">
						<img src="images/blog.jpg" alt="blog">
					</div>
					
					<p>
						Загородный дом или дача нуждается в&nbsp;оборудовании различных коммуникаций, одной из&nbsp;которых является канализация. И&nbsp;тут на&nbsp;первое место выходит проблема утилизации стоков. Для этих целей уже много десятилетий используются различные модели септиков. В&nbsp;этой статье пойдет речь об&nbsp;одном из&nbsp;таких устройств. Септик Евробион Юбас&nbsp;&mdash; его особенности, плюсы и&nbsp;минусы, нюансы эксплуатации мы&nbsp;рассмотрим в&nbsp;этой статье.
					</p>
					<h3>
						Как проводится очистка стоков
					</h3>
					<p>
						Септики Евробион Юбас выпускаются в&nbsp;различных вариациях. У&nbsp;каждой модели различная производительность и&nbsp;размеры. Но&nbsp;любой септик имеет схожее устройство. Любое изделие от&nbsp;этого производителя представляет собой единый корпус из&nbsp;прочного полимера, внутри которого расположено несколько камер.
					</p>
					<p>
						Принцип действия устройства в&nbsp;следующем:
					</p>
					<p>
						Сточные воды попадают в&nbsp;первую камеру, которая играет роль отстойника. Здесь твердые частицы оседают на&nbsp;дно, где перерабатываются биологически активным илом. Более легкие фракции образуют поверхностную пленку. Они также разлагаются под действием жизнедеятельности аэробных бактерий, хотя этот процесс происходит медленнее, чем разложение твердых фракций.<br />
						Затем стоки попадают в&nbsp;активационную емкость, где продолжается разложение органических веществ на&nbsp;простые составляющие. После очистки вода переливается в&nbsp;отстойник, где остатки неразложившихся твердых фракций оседают в&nbsp;осадок.<br />
						В&nbsp;септике имеются несколько приспособлений, которые ускоряют процесс очистки. Так, для более эффективной переработки поверхностной пленки, с&nbsp;ней работает <nobr>U-образный</nobr> удалитель. Он&nbsp;перемешивает стоки и&nbsp;помогает микроорганизмам справляться со&nbsp;своими задачами.
					</p>
					<h3>
						Плюсы и&nbsp;минусы устройства
					</h3>
					<p>
						У&nbsp;септиков Евробион Юбас имеются свои достоинства и&nbsp;недостатки. К&nbsp;первым смело можно отнести следующее:
					</p>
					<p>
						Устройства обладают большой эффективностью. Степень очистки канализационных стоков может достигать 98%. Но&nbsp;такая высокая эффективность будет только в&nbsp;том случае, если попадающая в&nbsp;септик жидкость не&nbsp;будет иметь в&nbsp;себе вредных для аэробных бактерий веществ. Особенно микроорганизмы чувствительны к&nbsp;хлорным соединениям, которые являются ядами для них.<br />
						Устройство способно справиться с&nbsp;большим разовым сбросом воды. Септик состоит из&nbsp;нескольких камер, в&nbsp;каждой из&nbsp;которых происходит процесс очистки. При большом количестве стоков они будут просто переливаться из&nbsp;одной емкости в&nbsp;другую.<br />
						Благодаря своему устройству септик постоянно содержит воду. Поэтому бактерии способны продолжать свою жизнедеятельность даже при трехмесячном отсутствии стоков. Это позволяет использовать устройство для домов, где нет постоянных жильцов.<br />
						Септик легко монтировать и&nbsp;эксплуатировать. С&nbsp;этими задачами справится любой домовладелец.<br />
						Благодаря высокой степени очистки, стоки можно использовать для полива растений или в&nbsp;технических целях. Также имеется возможность применять ил&nbsp;в&nbsp;качестве удобрения.
					</p>
				</div>
				
				<div class="blog-post__footer">
					<div class="blog-post__social social">
						<div class="social__heading">
							Поделиться:
						</div>
						
						<div class="social__list">
							<a href="#" class="social__item">
								<span class="social__icon social__icon_vk"></span>
							</a>
							<a href="#" class="social__item">
								<span class="social__icon social__icon_fb"></span>
							</a>
							<a href="#" class="social__item">
								<span class="social__icon social__icon_gp"></span>
							</a>
							<a href="#" class="social__item">
								<span class="social__icon social__icon_tw"></span>
							</a>
							<a href="#" class="social__item">
								<span class="social__icon social__icon_in"></span>
							</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
    </section>

	<section class="section section_feedback feedback variant variant_blog">
		<div class="variant__wrp section__wrp">
			
			<h2 class="feedback__heading heading heading_type_h2">
				Остались вопросы?
			</h2>
			
			<p class="feedback__caption variant__caption caption caption_size_m c_green">
				Ответим 24/7
			</p>
			
			<div class="feedback-form feedback__feedback-form">
				<form action="" class="form-data form-data_type_flex form_feedback">
					<div class="feedback__box">
						<div class="form-data__parametr">
							<input type="text" class="form-data__input" placeholder="Имя" value="" name="name">
						</div>
						<div class="form-data__parametr">
							<input type="text" class="form-data__input" placeholder="Телефон" value="" name="phone">
						</div>
						<div class="form-data__parametr">
							<input type="text" class="form-data__input" placeholder="Электронная почта" value="" name="email">
						</div>
						<div class="form-data__parametr feedback__button-box">
							<button class="feedback__button form-data__button button button_theme_default button_size_l">
								Оставить заявку
							</button>
						</div>
					</div>
					
					<div class="feedback__box">
						<div class="form-data__parametr">
							<textarea class="form-data__textarea" placeholder="Комментарий" name="text"></textarea>
						</div>
					</div>
				</form>
			</div>
		
		
		</div>
	</section>
    

@@include('layout/_footer.html', {
	"theme" : ""
})
