@@include('layout/_head.html', {
	"title": "«Строительные Экосистемы» - продажа и установка септиков, систем отопления, водоснабжения в Москве и области",
	"description": "Устанавливаем септики, системы отопления и водоснабжения, также проводим дренажные работы. Все подробности на сайте, заходите!",
	"keywords": "септики от производителя, установка систем отопления, установка водоснабжения, дренажные работы"
})
    <section class="onepage">
        @@include('layout/_header.html', {
            "navigationTheme" : "navigation_theme_dark"
        })

        <div class="promo-slider onepage__promo-slider promo-slider_main-page">
            <div class="promo-slider__back" style="background-image: url(images/img1.jpg);"></div>
            <div class="promo-slider__content">
                <div class="promo-slider__title heading heading_type_h1">
                    Устанавливаем <a href="septik.html" class="promo-slider__title-link">септики</a>,<br />
                    <a href="otoplenie.html" class="promo-slider__title-link">системы отопления</a>
                    и&nbsp;<a href="vodosnabjenie.html" class="promo-slider__title-link">водоснабжения</a>,<br />
                    проводим <a href="drenazh.html" class="promo-slider__title-link">дренажные работы</a>
                </div>
            </div>
			<div class="promo-slider__form">
				<div class="feedback-form promo-slider__feedback-form">
					<div class="feedback-form__title heading heading_type_h3" style="color:#fff; margin-left: 10px">
						Расчет за 15 минут. Оставьте заявку!
					</div>
					
					<form action="" class="form-data form-data_type_inline form_feedback">
						<div class="form-data__parametr">
							<input type="text" class="form-data__input" placeholder="Имя" value="" name="name">
						</div>
						<div class="form-data__parametr">
							<input type="text" class="form-data__input" placeholder="Телефон" value="" name="phone">
						</div>
						<div class="form-data__parametr">
							<button class="form-data__button button button_theme_default button_size_m">
								Позвоните мне
							</button>
						</div>
					</form>
				</div>
			</div>
        </div>
    </section>

    <section class="pluses">
        <div class="pluses__wrp">

            <ul class="pluses__list">
                <li class="pluses__item plus">
                    <div class="plus__number number">
                        01
                    </div>

                    <h5 class="plus__text heading heading_type_h5">
                        Рассчитаем проект<br/>
                        <span class="c_green">за&nbsp;15&nbsp;минут</span>
                    </h5>
                </li>

                <li class="pluses__item plus">
                    <div class="plus__number number">
                        02
                    </div>

                    <h5 class="plus__text heading heading_type_h5">
                        Установим<br/>
                        <span class="c_green">за&nbsp;один день</span>
                    </h5>
                </li>

                <li class="pluses__item plus">
                    <div class="plus__number number">
                        03
                    </div>

                    <h5 class="plus__text heading heading_type_h5">
                        Предложим<br/>
                        <span class="c_green">комплексные решения</span>
                    </h5>
                </li>
            </ul>

            <div class="pluses__img">
				<img src="images/pluses.svg" alt="pluses">
            </div>

            <ul class="pluses__list">
                <li class="pluses__item plus">
                    <div class="plus__number number">
                        04
                    </div>

                    <h5 class="plus__text heading heading_type_h5">
                        Без&nbsp;100%<br/>
                        <span class="c_green">предоплаты</span>
                    </h5>
                </li>

                <li class="pluses__item plus">
                    <div class="plus__number number">
                        05
                    </div>

                    <h5 class="plus__text heading heading_type_h5">
                        Забронируем<br/>
                        <span class="c_green">скидку</span>
                    </h5>
                </li>

                <li class="pluses__item plus">
                    <div class="plus__number number">
                        06
                    </div>

                    <h5 class="plus__text heading heading_type_h5">
                        <span class="c_green">Работаем&nbsp;<nobr>24/7</nobr></span>, даже<br/>
                        ночью и&nbsp;в&nbsp;праздники
                    </h5>
                </li>
            </ul>

        </div>
    </section>

	<section class="categories">
		
		<div class="grid grid_four">
			<div class="grid__box categories__item category" style="background-image: url('images/category_1.jpg')">
				<a href="septik.html" class="category__link"></a>
				<div class="category__descr">
					<h4 class="category__name heading heading_type_h4">
						<span class="category__text">Септики</span>
					</h4>
	
					<p class="category__caption caption caption_size_g">
						Установим очистные сооружения для хозяйственно-бытового стока
					</p>
				</div>
			</div>
	
			<div class="grid__box categories__item category" style="background-image: url('images/category_2.jpg')">
				<a href="vodosnabjenie.html" class="category__link"></a>
				<div class="category__descr">
					<a class="category__name heading heading_type_h4">
						<span class="category__text">Водоснабжение</span>
					</a>
	
					<p class="category__caption caption caption_size_g">
						Обеспечим водой загородный участок
					</p>
				</div>
			</div>
	
			<div class="grid__box categories__item category" style="background-image: url('images/category_3.jpg')">
				<a href="otoplenie.html" class="category__link"></a>
				<div class="category__descr">
					<a class="category__name heading heading_type_h4">
						<span class="category__text">Отопление</span>
					</a>
	
					<p class="category__caption caption caption_size_g">
						В&nbsp;вашем доме всегда будет тепло
					</p>
				</div>
			</div>
	
			<div class="grid__box categories__item category" style="background-image: url('images/category_4.jpg')">
				<a href="drenazh.html" class="category__link"></a>
				<div class="category__descr">
					<a class="category__name heading heading_type_h4">
						<span class="category__text">Дренаж</span>
					</a>
	
					<p class="category__caption caption caption_size_g">
						Проведем работы по&nbsp;водоотведению
					</p>
				</div>
			</div>
		</div>
	</section>
	
	<section class="section section_dirty section_theme_grey section_align_center">
			
			<h4 class="heading heading_type_h4 section__heading">
				Возьмем на&nbsp;себя все ваши &laquo;грязные&nbsp;дела&raquo;.
			</h4>
	
			<a href="#modal_order" class="js-popup-link section__button button button_theme_default button_size_m button_align_center" data-heading="Оставить заявку">
				<span class="button__text">
					Оставить заявку
				</span>
			</a>
	</section>

@@include('layout/_footer.html', {
	"theme" : ""
})
