@@include('layout/_head.html', {
	"title" : "Купить пластиковую емкость для канализации в загородном доме - компания «Строительные Экосистемы», г. Москва",
	"description" : "В компании «Строительные Экосистемы» вы можете купить пластиковую емкость под канализацию для загородного дома по выгодной цене! Подробнее об услуге на сайте",
	"keywords" : "пластиковые емкости для канализации, пластиковые емкости для канализации цена, купить пластиковую емкость для канализации, пластиковые емкости под канализацию, пластиковые накопительные емкости для канализации, емкость пластиковая под септик для канализации, емкости для канализации пластиковые для загородного дома"
})

    <section class="onepage">
        @@include('layout/_header.html', {
            "navigationTheme" : "navigation_theme_light"
        })

        @@include('components/_promo-slider.html', {
			"image" : "images/septik/3/banner.jpg",
            "linkPrev" : "Все типы септиков",
            "classMain" : "onepage__promo-slider promo-slider_theme_light",
            "title" : "Герметичные емкости",
            "text" : "Герметичные емкости рассчитаны только на&nbsp;сбор бытовых отходов,<br class='md-hide' />и&nbsp;им&nbsp;регулярно требуется утилизация. Подходит для небольших дач<br class='md-hide' />и&nbsp;загородных домов."
        })
    </section>

	@@include('components/_howitworks.html', {
	"id" : "3",
	"caption" : "Недалеко от&nbsp;участка вырывается котлован, куда устанавливается герметичная емкость по&nbsp;сбору отходов.",
	"caption2" : "По&nbsp;мере их&nbsp;накопления необходимо вызывать специальную машину, которая откачивает содержимое для дальнейшей утилизации.",
	"caption3" : "Основное преимущество данного варианта&nbsp;&mdash; низкая стоимость. Однако, при этом, со&nbsp;временем, сама емкость начинает источать неприятные запахи и&nbsp;требует замены."
	})

	@@include('components/catalog/_catalog.html', {
	"id" : "3",
	"heading" : "Мы&nbsp;готовы предложить варианты<br />дальнейшего обслуживания<br />герметичных емкостей&nbsp;&mdash;",
	"caption" : "регулярную утилизацию <nobr>хозяйственно-бытовых</nobr> отходов при помощи ассенизаторской машины."
	})

@@include('layout/_footer.html', {"theme" : ""})
