@@include('layout/_head.html', {
	"title" : "Купить станцию биологической очистки для дома с установкой в компании «Строительные Экосистемы», г. Москва",
	"description" : "В компании «Строительные Экосистемы» вы можете заказать установку биологической очистки дома по выгодной цене! Подробнее об услуге на сайте",
	"keywords" : "станция биологической очистки, станция биологической очистки для дома, станция биологической очистки для частного дома, станция биологической очистки цена, купить станцию биологической очистки, станции биологической очистки для загородного дома, станция глубокой биологической очистки цена, станция биологической очистки канализационных стоков"
})

    <section class="onepage">
        @@include('layout/_header.html', {
            "navigationTheme" : "navigation_theme_light"
        })

        @@include('components/_promo-slider.html', {
			"image" : "images/septik/2/banner.jpg",
            "linkPrev" : "Все типы септиков",
            "classMain" : "onepage__promo-slider promo-slider_theme_light",
            "title" : "Станции биологической очистки",
            "text" : "Автономные станции биологической очистки&nbsp;&mdash; один из&nbsp;самых лучших вариантов <br class='md-hide' />септиков для&nbsp;дачи. Уровень очистки воды составляет около 95%, а&nbsp;значит, в&nbsp;дальнейшем <br class='md-hide' />ее&nbsp;можно использовать для бытовых нужд (поливки растений, мытье машины и&nbsp;другие)."
        })
    </section>

	@@include('components/_howitworks.html', {
	"id" : "2",
	"caption" : "Бытовой сток поступает в&nbsp;первую (приемную) камеру, где отстаивается и&nbsp;начинает разлагаться на&nbsp;мелкие частицы.",
	"caption2" : "Далее вода попадает в&nbsp;камеру с&nbsp;активной аэрацией (аэротенк) и&nbsp;насыщается кислородом, необходимым&nbsp;для активной жизнедеятельности бактерий (активный&nbsp;ил).",
	"caption3" : "Потом вода оказывается во&nbsp;вторичном отстойнике, где вновь отстаивается. Отделяется жировая пленка и&nbsp;мелкие частицы возвращаются обратно в&nbsp;аэротенк."
	})

	@@include('components/catalog/_catalog.html', {
	"id" : "2",
	"heading" : "Вы&nbsp;можете купить у&nbsp;нас станции<br />биологической очистки любого уровня",
	"caption" : "Наши специалисты помогут сделать правильный выбор, исходя из&nbsp;ваших потребностей."
	})

@@include('layout/_footer.html', {"theme" : ""})
