//Vars
$futura: 'futurabookcregular', sans-serif;
$roboto: 'Roboto Slab', serif;
//$roboto_cond: 'Roboto Condensed', sans-serif;
$icon_font: 'septic';
$blokk: 'blokk';

//Breakpoint
$breakpointDisplay: 'screen and (max-width: 1439px)';
$breakpointTablet: 'screen and (max-width: 1023px)';
$breakpointMobile: 'screen and (max-width: 767px)';

$breakpointBig: 'screen and (min-width: 1920px)';

$col_lg: 72px;
$col_md: 51.2px;
$col_sm: 38.4px;
$col_xs: 16px;


//Colors
$green: #9fcd3b;
$green_nav: #87bb16;
$green_dark: #46a730;
$green_light: #e1ffa0;

$grey_bg: #f6f6f6;
$grey_lite: #e1e3ea;
$grey: #798187;
$grey_dark: #81939d;
$grey_img: #e4e7ea;

$blue: #10576f;
$blue_lite: #e4f5ff;
$blue_bg: rgba(74, 140, 196, 0.75);
$blue_dark: #65aaff;

$red: #ff9393;
$yellow: #ffd800;

$border: #ebf1f4;

$img_mask: rgba(0, 0, 0, 0.45);

$error: #ff0000;











