<section class="team section section_standart">

	<h2 class="team__heading heading heading_type_h2 heading_align_center">
		Наша команда
	</h2>

	<div class="team__content section_theme_blue">
		<div class="team__row carousel_team">

			@@loop('_member.html', [
			{ "number": "1", "name": "Екатерина<br />Белкова", "position" : "Руководитель компании ООО «Строительные Экосистемы»", "email" : "111@stroekos.ru" },
			{ "number": "2", "name": "Дмитрий<br />Безматный", "position" : "Руководитель отдела продаж", "email" : "117@stroekos.ru" },
			{ "number": "3", "name": "Ольга<br />Сорокина", "position" : "Руководитель отдела сопровождения сделок", "email" : "114@stroekos.ru" },
			{ "number": "4", "name": "Сергей<br />Дадеркин", "position" : "Ведущий менеджер по продажам", "email" : "116@stroekos.ru" },
			{ "number": "5", "name": "Антон<br />Воронцов", "position" : "Выездной инженер", "email" : "info@stroekos.ru" },
			{ "number": "6", "name": "Александр<br />Иванов", "position" : "Выездной инженер", "email" : "info@stroekos.ru" },
			{ "number": "7", "name": "Александр<br />Маштаков", "position" : "Выездной инженер", "email" : "info@stroekos.ru" },
			{ "number": "8", "name": "Константин<br />Ковалев", "position" : "<nobr>Бригадир-монтажник</nobr>", "email" : "info@stroekos.ru" }
			])

		</div>
		
	</div>
</section>