//Button
.button {
    -ms-touch-action: manipulation;
    touch-action: manipulation;

    background: none;
    display: inline-block;
    vertical-align: middle;
    font: em(17) $futura;
    text-decoration: none;
    margin: 0;
	cursor: pointer;
    
    border: none;
    outline: 0;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    @include transition (all 0.3s linear);

    &_theme_default {
        background: $green;
        color: #fff;
        @extend %shadow_btn;
        
        &:hover {
            background: $green_nav;
            @extend %shadow_btn_lite;
        }
    }

    &_theme_lite {
        background: $green;
        color: #fff;
        @extend %shadow_btn_lite;
        
        &:hover {
            background: $green_nav;
            @extend %shadow_btn;
        }
    }

    &_theme_white {
        background: #fff;
        color: $green_nav;
        @extend %shadow_btn_white;

        &:hover {
            background: $grey_img;
        }
    }
    
    &_theme_filter {
	    background: #fff;
	    border: 1px solid #70b3cf;
	    color: #000;
	    
	    &:hover {
		    background-color: #70b3cf;
		    color: #fff;
	    }
    }
	
	&_size_filter {
		height: 35px;
		min-width: 72px;
		line-height: 33px;
		font-size: 14px;
		padding: 0 em(20, 14);

		@media #{$breakpointDisplay} {
			padding: 0 em(16,14);
		}

		@media #{$breakpointTablet} {
			
		}

		@media #{$breakpointMobile} {
			
		}
	}
    
    &_size_m {
        min-width: 216px;
        height: 48px;
        line-height: 48px;
        padding: 0 em(36, 17);
    }

    &_size_s {
        min-width: 197px;
        height: 48px;
        line-height: 48px;
        padding: 0 em(7, 17);
    }
    
    &_size_l {
        min-width: 350px;
        height: 48px;
        line-height: 48px;
        padding: 0 em(17, 17);
    }

    &_align_center {
        margin: auto;
    }
    
    &_margin_top {
        margin-top: em(20,17);
    }

    @media #{$breakpointDisplay} {
        font-size: em(15,15);
        
        &_size_m {
            min-width: 160px;
            height: 40px;
            line-height: 40px;
            padding: 0 em(30, 15);
        }

        &_size_s {
            min-width: 144px;
            height: 40px;
            line-height: 40px;
            padding: 0 em(11, 15);
        }

        &_size_l {
            min-width: 298px;
            height: 40px;
            line-height: 40px;
            padding: 0 em(10, 15);
        }

        &_margin_top {
            margin-top: em(20,15);
        }
    }

    @media #{$breakpointTablet} {
        font-size: em(13,13);

        &_size_l {
            min-width: 258px;
            height: 40px;
            line-height: 40px;
            padding: 0 em(8, 13);
        }

        &_margin_top {
            margin-top: em(20,13);
        }
    }

    @media #{$breakpointMobile} {
        font-size: em(13,12);

        &_size_l {
            min-width: 256px;
            height: 40px;
            line-height: 40px;
            padding: 0 em(8, 13);
        }

        &_margin_top {
            margin-top: em(20,13);
        }
    }

    &_menu {
        position: absolute;
        right: 1em;
        top: .5em;
        display: none;
        width: 3em;
        height: 3em;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        z-index: 91;
        overflow: hidden;

        & > span {
            position: absolute;
            top: 50%;
            display: block;
            width: 60%;
            height: 0.25em;
            margin-top: -0.15em;
            background-color: $green;
            right: 0;

            &:before,
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $green;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                right: 0;
            }

            &:before {
                -webkit-transform: translateY(-.5em);
                transform: translateY(-.5em);
            }

            &:after {
                -webkit-transform: translateY(.5em);
                transform: translateY(.5em);
            }
        }

        &.open {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            width: 2em;
            height: 3em;
        }

        &.open > span,
        &.open > span:before,
        &.open > span:after {
            width: 100%;
        }

        &.open > span:before {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        &.open > span:after {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        @media #{$breakpointMobile} {
            display: block;
        }
    }
}
