




<!--карточка товара-->
<div class="full-catalog__card js-filter-card card" data-id="bio">
  <div class="card__wrapper">
    <a href="catalog-card.html" class="card__ref">
      <img src="images/septik/1/catalog/slide_1.png" alt="" class="card__img">
    </a>
    <div class="card__info">
      <a href="catalog-card.html" class="card__ref">
        <div class="card__title">Трион-Микро</div>
      </a>

      <div class="card__compare compare">
        <div class="compare__block compare__block_add active">
          <img class="compare__img" src="images/papers.png" alt="">
          <span class="compare__text">Добавить к сравнению</span>
        </div>
        <div class="compare__block compare__block_cancel">
          <img class="compare__img" src="images/cross.png" alt="">
          <span class="compare__text">Удалить из сравнения</span>
        </div>
      </div>

      <div class="card__card-table">
        <div class="card__card-table-row card__card-table-row_head">
          <div class="card__card-table-item">Объем</div>
          <div class="card__card-table-item">Кол-во человек</div>
          <div class="card__card-table-item">Бренд</div>
        </div>
        <div class="card__card-table-row">
          <div class="card__card-table-item">450 л</div>
          <div class="card__card-table-item">5-6</div>
          <div class="card__card-table-item">Тритон</div>
        </div>
      </div>
    </div>
    <div class="card__price">
      <span class="card__price-canceled">
        23 000 &#8381
      </span>
      <span class="card__price-true">
        18 000 &#8381
      </span>
      <a href="" class="card__price-btn section__button button button_theme_default button_size_s">
        <span class="button__text">
          Заказать
        </span>
      </a>
    </div>
  </div>
</div>