<section class="section section_feedback feedback variant" style="background-image: url(@@image);">
	<div class="variant__wrp section__wrp">

		<h2 class="feedback__heading heading heading_type_h2">
			Оставьте заявку
		</h2>

		<p class="feedback__caption variant__caption caption caption_size_m">
			Наш специалист свяжется с&nbsp;вами в&nbsp;течение 15&nbsp;минут для уточнения подробностей.
		</p>

		<div class="feedback-form feedback__feedback-form">
			<form action="" class="form-data form-data_type_flex form_feedback">
				<div class="feedback__box">
					<div class="form-data__parametr">
						<input type="text" class="form-data__input" placeholder="Имя" value="" name="name">
					</div>
					<div class="form-data__parametr">
						<input type="text" class="form-data__input" placeholder="Телефон" value="" name="phone">
					</div>
					<div class="form-data__parametr">
						<input type="text" class="form-data__input" placeholder="Электронная почта" value="" name="email">
					</div>
					<div class="form-data__parametr feedback__button-box">
						<button class="feedback__button form-data__button button button_theme_default button_size_l">
							Рассчитать заказ
						</button>
					</div>
				</div>

				<div class="feedback__box">
					<div class="form-data__parametr">
						<textarea class="form-data__textarea" placeholder="Комментарий" name="text"></textarea>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>