<section class="reviews section section_standart section_theme_grey">

	<h2 class="reviews__heading heading heading_type_h2 heading_align_center">
		Отзывы наших клиентов
	</h2>

	<div class="reviews__slider carousel_reviews">

		<div class="reviews__slide review">
	<div class="grid_flex">
		
		
		<div class="review__img grid__box">
			<img src="images/reviews/review_1.jpg" alt="Семья Атавиных, Московская область, деревня Васильевское">
		</div>
		
		
		<div class="review__info grid__box">
			<p class="review__date caption caption_size_s caption_no_margin">
				<nobr>20.05.2016</nobr>
			</p>

			<p class="review__name caption caption_size_s caption_no_margin">
				Семья Атавиных, Московская область, деревня Васильевское
			</p>

			<h5 class="review__heading heading heading_type_h5">
				Монтаж септика <nobr>СБО Эко-гранд 5</nobr>
			</h5>

			<p class="review__caption caption_size_m caption_no_margin">
				Благодарим компанию <nobr>ООО &laquo;Строительные Экосистемы&raquo;</nobr> за&nbsp;качественную установку септика и&nbsp;проведения водоснабжения. <br class='xs-hide' />Спасибо за&nbsp;добросовестное выполнение своей работы!
			</p>
		</div>
	</div>
</div><div class="reviews__slide review">
	<div class="grid_flex">
		
		
		<div class="review__img grid__box">
			<img src="images/reviews/review_1.jpg" alt="Семья Атавиных, Московская область, деревня Васильевское">
		</div>
		
		
		<div class="review__info grid__box">
			<p class="review__date caption caption_size_s caption_no_margin">
				<nobr>20.05.2016</nobr>
			</p>

			<p class="review__name caption caption_size_s caption_no_margin">
				Семья Атавиных, Московская область, деревня Васильевское
			</p>

			<h5 class="review__heading heading heading_type_h5">
				Монтаж септика <nobr>СБО Эко-гранд 5</nobr>
			</h5>

			<p class="review__caption caption_size_m caption_no_margin">
				Благодарим компанию <nobr>ООО &laquo;Строительные Экосистемы&raquo;</nobr> за&nbsp;качественную установку септика и&nbsp;проведения водоснабжения. <br class='xs-hide' />Спасибо за&nbsp;добросовестное выполнение своей работы!
			</p>
		</div>
	</div>
</div><div class="reviews__slide review">
	<div class="grid_flex">
		
		
		<div class="review__img grid__box">
			<img src="images/reviews/review_1.jpg" alt="Семья Атавиных, Московская область, деревня Васильевское">
		</div>
		
		
		<div class="review__info grid__box">
			<p class="review__date caption caption_size_s caption_no_margin">
				<nobr>20.05.2016</nobr>
			</p>

			<p class="review__name caption caption_size_s caption_no_margin">
				Семья Атавиных, Московская область, деревня Васильевское
			</p>

			<h5 class="review__heading heading heading_type_h5">
				Монтаж септика <nobr>СБО Эко-гранд 5</nobr>
			</h5>

			<p class="review__caption caption_size_m caption_no_margin">
				Благодарим компанию <nobr>ООО &laquo;Строительные Экосистемы&raquo;</nobr> за&nbsp;качественную установку септика и&nbsp;проведения водоснабжения. <br class='xs-hide' />Спасибо за&nbsp;добросовестное выполнение своей работы!
			</p>
		</div>
	</div>
</div>

	</div>

</section>