<section class="team section section_standart">

	<h2 class="team__heading heading heading_type_h2 heading_align_center">
		Наша команда
	</h2>

	<div class="team__content section_theme_blue">
		<div class="team__row carousel_team">

			<div class="team__member member">
	<div class="member__img">
		<img src="images/team/member_1.png" alt="Екатерина<br />Белкова">
	</div>

	<div class="member__info">
		<h5 class="member__name heading heading_type_h5">
			Екатерина<br />Белкова
		</h5>

		<p class="member__position caption caption_size_s caption_no_margin">
			Руководитель компании ООО «Строительные Экосистемы»
		</p>

		<a href="mailto:111@stroekos.ru" class="member__email c_green_light">
			111@stroekos.ru
		</a>
	</div>
</div><div class="team__member member">
	<div class="member__img">
		<img src="images/team/member_2.png" alt="Дмитрий<br />Безматный">
	</div>

	<div class="member__info">
		<h5 class="member__name heading heading_type_h5">
			Дмитрий<br />Безматный
		</h5>

		<p class="member__position caption caption_size_s caption_no_margin">
			Руководитель отдела продаж
		</p>

		<a href="mailto:117@stroekos.ru" class="member__email c_green_light">
			117@stroekos.ru
		</a>
	</div>
</div><div class="team__member member">
	<div class="member__img">
		<img src="images/team/member_3.png" alt="Ольга<br />Сорокина">
	</div>

	<div class="member__info">
		<h5 class="member__name heading heading_type_h5">
			Ольга<br />Сорокина
		</h5>

		<p class="member__position caption caption_size_s caption_no_margin">
			Руководитель отдела сопровождения сделок
		</p>

		<a href="mailto:114@stroekos.ru" class="member__email c_green_light">
			114@stroekos.ru
		</a>
	</div>
</div><div class="team__member member">
	<div class="member__img">
		<img src="images/team/member_4.png" alt="Сергей<br />Дадеркин">
	</div>

	<div class="member__info">
		<h5 class="member__name heading heading_type_h5">
			Сергей<br />Дадеркин
		</h5>

		<p class="member__position caption caption_size_s caption_no_margin">
			Ведущий менеджер по продажам
		</p>

		<a href="mailto:116@stroekos.ru" class="member__email c_green_light">
			116@stroekos.ru
		</a>
	</div>
</div><div class="team__member member">
	<div class="member__img">
		<img src="images/team/member_5.png" alt="Антон<br />Воронцов">
	</div>

	<div class="member__info">
		<h5 class="member__name heading heading_type_h5">
			Антон<br />Воронцов
		</h5>

		<p class="member__position caption caption_size_s caption_no_margin">
			Выездной инженер
		</p>

		<a href="mailto:info@stroekos.ru" class="member__email c_green_light">
			info@stroekos.ru
		</a>
	</div>
</div><div class="team__member member">
	<div class="member__img">
		<img src="images/team/member_6.png" alt="Александр<br />Иванов">
	</div>

	<div class="member__info">
		<h5 class="member__name heading heading_type_h5">
			Александр<br />Иванов
		</h5>

		<p class="member__position caption caption_size_s caption_no_margin">
			Выездной инженер
		</p>

		<a href="mailto:info@stroekos.ru" class="member__email c_green_light">
			info@stroekos.ru
		</a>
	</div>
</div><div class="team__member member">
	<div class="member__img">
		<img src="images/team/member_7.png" alt="Александр<br />Маштаков">
	</div>

	<div class="member__info">
		<h5 class="member__name heading heading_type_h5">
			Александр<br />Маштаков
		</h5>

		<p class="member__position caption caption_size_s caption_no_margin">
			Выездной инженер
		</p>

		<a href="mailto:info@stroekos.ru" class="member__email c_green_light">
			info@stroekos.ru
		</a>
	</div>
</div><div class="team__member member">
	<div class="member__img">
		<img src="images/team/member_8.png" alt="Константин<br />Ковалев">
	</div>

	<div class="member__info">
		<h5 class="member__name heading heading_type_h5">
			Константин<br />Ковалев
		</h5>

		<p class="member__position caption caption_size_s caption_no_margin">
			<nobr>Бригадир-монтажник</nobr>
		</p>

		<a href="mailto:info@stroekos.ru" class="member__email c_green_light">
			info@stroekos.ru
		</a>
	</div>
</div>

		</div>
		
	</div>
</section>