<div class="reviews__slide review">
	<div class="grid_flex">
		
		@@if (context.number) {
		<div class="review__img grid__box">
			<img src="images/reviews/review_@@number.jpg" alt="@@name">
		</div>
		}
		
		<div class="review__info grid__box">
			<p class="review__date caption caption_size_s caption_no_margin">
				<nobr>@@date</nobr>
			</p>

			<p class="review__name caption caption_size_s caption_no_margin">
				@@name
			</p>

			<h5 class="review__heading heading heading_type_h5">
				@@heading
			</h5>

			<p class="review__caption caption_size_m caption_no_margin">
				@@caption
			</p>
		</div>
	</div>
</div>