<section class="reviews section section_standart section_theme_grey">

	<h2 class="reviews__heading heading heading_type_h2 heading_align_center">
		Отзывы наших клиентов
	</h2>

	<div class="reviews__slider carousel_reviews">

		@@loop('_review.html', [
		{ "number": "1", "date" : "20.05.2016", "name": "Семья Атавиных, Московская область, деревня Васильевское", "heading" : "Монтаж септика <nobr>СБО Эко-гранд 5</nobr>", "caption" : "Благодарим компанию <nobr>ООО &laquo;Строительные Экосистемы&raquo;</nobr> за&nbsp;качественную установку септика и&nbsp;проведения водоснабжения. <br class='xs-hide' />Спасибо за&nbsp;добросовестное выполнение своей работы!" },
		{ "number": "1", "date" : "20.05.2016", "name": "Семья Атавиных, Московская область, деревня Васильевское", "heading" : "Монтаж септика <nobr>СБО Эко-гранд 5</nobr>", "caption" : "Благодарим компанию <nobr>ООО &laquo;Строительные Экосистемы&raquo;</nobr> за&nbsp;качественную установку септика и&nbsp;проведения водоснабжения. <br class='xs-hide' />Спасибо за&nbsp;добросовестное выполнение своей работы!" },
		{ "number": "1", "date" : "20.05.2016", "name": "Семья Атавиных, Московская область, деревня Васильевское", "heading" : "Монтаж септика <nobr>СБО Эко-гранд 5</nobr>", "caption" : "Благодарим компанию <nobr>ООО &laquo;Строительные Экосистемы&raquo;</nobr> за&nbsp;качественную установку септика и&nbsp;проведения водоснабжения. <br class='xs-hide' />Спасибо за&nbsp;добросовестное выполнение своей работы!" }
		])

	</div>

</section>